<!doctype html>
<html>

<head>
  <title>Animal Crossing Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
            <p>
              <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                  <strong>password</strong>: <%= user.local.password %>
            </p>

            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>

        </div>
      </div>

      <% if (selectedVillager) { %>

      <div class="col-sm-6">
        <h3>Animal Crossing Villager Log</h3>
        <ul class="villagers">
            <li class="villagerInfo">
              <span>
                <%= selectedVillager.name %>
              </span>
              <img src="img/<%= selectedVillager.img %>">
    
              <%# if likes array inside selected villager include our id(the id of the user who is signed in) then fa-solid is put into the DOM
              otherwise it puts in fa-regular aka non filled in heart %>
              <span><i id="<%= selectedVillager._id %>" class="<%= selectedVillager.likes.includes(user._id.toString()) ? 'fa-solid' : 'fa-regular' %> fa-heart"></i></span>

            </li>
        </ul>
      </div>

      <% } %>

        <div>
          <h2>Add a message</h2>
            <form action="/profile" method="GET">
              <label for="villagers-select">Choose a character:</label>
              <select name="villagerId" id="villager-select">
                <option value="">--Please choose a villager--</option>
                <% for (let i = 0; i < villagers.length; i++) { %>
                <option value="<%= villagers[i]._id %>"><%= villagers[i].name %></option>
              <% } %>
              </select>
              <button id="getVillager" type="submit">Submit</button>
            </form>
          
        </div>

    </div>

    <script src="https://kit.fontawesome.com/e9f7511864.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>

</body>

</html>